<html>
    <head>
        <title>Car Information</title>
        <link href="/public/style.css" rel="stylesheet" />

        <!--Icon-->
        <link rel="apple-touch-icon" sizes="180x180" href="public/assets/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="public/assets/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="public/assets/icons/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <!--Icon-->
    </head>

    <body>
        <div class="cars-single">
            <div class="container">
                <div class="cars-single-text">
                    <h2><%= data.make %> | <%= data.model %></h2>
                    <hr>

                    <div class="info">
                        <p class="left">Year: <%= data.year %></p> 
                        <p class="right">Price: <%= data.price %></p>

                        <div class="clear"></div><!--clear-->
                    </div><!--info-->

                    <p><%= data.description %></p>
                    <a href="/">Return!</a>
                </div><!--cars-single-text-->
            </div><!--container-->
        </div><!--cars-single-->
    </body>
</html>